<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>TimeSheet</h1>
            <form autocomplete="false" [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
                <div class="form-content">
                    <div class="form-group" *ngIf="!isChange">
                        <input type="number" min="1" class="form-control input-underline input-lg"
                            formControlName="employee_id" placeholder="{{ 'Enter Your Emp Id' | translate }}"
                            [ngClass]="{ 'is-invalid': submitted && (forgotForm.get('employee_id').value.length === 0) }">
                        <div *ngIf="submitted && (forgotForm.get('employee_id').value.length === 0)"
                            class="invalid-feedback-show">
                            {{ 'Emp Id is required' | translate }}
                        </div>
                    </div>
                    <div class="form-group" *ngIf="!isChange">
                        <select type="text" formControlName="security_question_id"
                            class="form-control input-underline input-lg input-select"
                            [ngClass]="{ 'is-invalid': submitted && (forgotForm.get('security_question_id').value.length === 0) }">
                            <option value="">{{ 'Select the Security Questions' | translate }}</option>
                            <option *ngFor="let securityQuestion of securityQuestions.data"
                                [value]="securityQuestion.id">{{securityQuestion.name}}</option>
                        </select>
                        <div *ngIf="submitted && (forgotForm.get('security_question_id').value.length === 0)"
                            class="invalid-feedback-show">
                            {{ 'Security questions is required' | translate }}
                        </div>
                    </div>
                    <div class="form-group" *ngIf="!isChange">
                        <input type="text" autocomplete="false" class="form-control input-underline input-lg"
                            formControlName="security_question_answer"
                            placeholder="{{ 'Security Question Answer' | translate }}"
                            [ngClass]="{ 'is-invalid': submitted && (forgotForm.get('security_question_answer').value.length === 0) }">
                        <div *ngIf="submitted && (forgotForm.get('security_question_answer').value.length === 0)"
                            class="invalid-feedback-show">
                            {{ 'Security questions answer is required' | translate }}
                        </div>
                    </div>
                    <div class="form-group" *ngIf="isChange">
                        <input type="password" autocomplete="false" class="form-control input-underline input-lg"
                            formControlName="password" placeholder="Password"
                            [ngClass]="{ 'is-invalid': submitted && (forgotForm.get('password').value.length === 0 || forgotForm.get('password').value.length < 6)}">
                        <div *ngIf="submitted && (forgotForm.get('password').value.length === 0)" class="invalid-feedback-show">
                            {{ 'Password is required' | translate }}</div>
                        <div *ngIf="submitted && (forgotForm.get('password').value.length !== 0 && forgotForm.get('password').value.length < 6)"
                            class="invalid-feedback-show">
                            Password must be 6 Characters
                        </div>
                    </div>
                    <div class="form-group" *ngIf="isChange">
                        <input type="password" class="form-control input-underline input-lg"
                            formControlName="confirm_password" placeholder="Confirm Password" [ngClass]="{ 'is-invalid': (submitted && (forgotForm.get('confirm_password').value.length === 0 || forgotForm.get('password').value !== forgotForm.get('confirm_password').value)) }">
                        <div *ngIf="submitted && forgotForm.get('confirm_password').value.length >= 6 && (forgotForm.get('password').value !== forgotForm.get('confirm_password').value)"
                            class="invalid-feedback-show">
                            Password and Confirm Password should match.
                        </div>
                        <div *ngIf="submitted && (forgotForm.get('confirm_password').value.length === 0)"
                            class="invalid-feedback-show">
                            {{ 'Confirm password is required' | translate }}
                        </div>
                        <div *ngIf="submitted && (forgotForm.get('confirm_password').value.length !== 0 && forgotForm.get('confirm_password').value.length < 6)"
                            class="invalid-feedback-show">
                            Confirm Password must be 6 Characters
                        </div>
                    </div>
                </div>
                <a class="btn rounded-btn" (click)="onSubmit()">{{ 'Submit' | translate }}</a>
            </form>
        </div>
    </div>
</div>