<nav class="sidebar" [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }">
    <div class="list-group">
        <a *ngIf="isAdmin" routerLink="/users" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
            <span>{{ 'Users' | translate }}</span>
        </a>
        <a *ngIf="isAdmin" routerLink="/projects" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
            <span>{{ 'Projects' | translate }}</span>
        </a>
        <a *ngIf="isAdmin" routerLink="/infra_towers" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
            <span>{{ 'Infra Tower' | translate }}</span>
        </a>
        <a *ngIf="isAdmin" routerLink="/project_infra" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
            <span>{{ 'Project Infra Tower' | translate }}</span>
        </a>
        <a *ngIf="!isAdmin" routerLink="/mywork" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
            <span>{{ 'My Time Sheet' | translate }}</span>
        </a>
        <a *ngIf="!isAdmin" routerLink="/default_time_sheet" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
            <span>{{ 'Default Time Sheet' | translate }}</span>
        </a>
        <a *ngIf="isAdmin" routerLink="/export_time_sheet" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
            <span>{{ 'Export Time Sheet' | translate }}</span>
        </a>
        <a *ngIf="!isAdmin" routerLink="/settings" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
            <span>{{ 'Settings' | translate }}</span>
        </a>
        <a routerLink="/change_password" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
            <span>{{ 'Change Password' | translate }}</span>
        </a>
        <a [routerLink]="['/login']" (click)="onLoggedout()" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
            <span>{{ 'Logout' | translate }}</span>
        </a>
    </div>
    <div class="toggle-button" [ngClass]="{ collapsed: collapsed }" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{ collapsed ? 'right' : 'left' }}"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav>
