<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>TimeSheet</h1>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-content">
                    <div class="form-group">
                        <input type="number" min="0" formControlName="employee_id" class="form-control input-underline input-lg" placeholder="{{ 'Employee Id' | translate }}" [ngClass]="{ 'is-invalid': submitted && (loginForm.get('employee_id').value.length === 0) }">
                        <div *ngIf="submitted && (loginForm.get('employee_id').value.length === 0)" class="invalid-feedback-show">
                            {{ 'Employee Id is required' | translate }}</div>
                    </div>

                    <div class="form-group">
                        <input type="password" formControlName="password" class="form-control input-underline input-lg" placeholder="{{ 'Password' | translate }}" [ngClass]="{ 'is-invalid': submitted && (loginForm.get('password').value.length === 0 || loginForm.get('password').value.length < 6) }">
                        <div *ngIf="submitted && (loginForm.get('password').value.length === 0)" class="invalid-feedback-show">
                            {{ 'Password is required' | translate }}</div>
                        <div *ngIf="submitted && (loginForm.get('password').value.length !== 0 && loginForm.get('password').value.length < 6)"
                            class="invalid-feedback-show">
                            Password must be 6 Characters
                        </div>
                    </div>
                </div>
                <a class="btn rounded-btn" (click)="onSubmit()">{{ 'Log in' | translate }}</a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">{{ 'Register' | translate }}</a><br><br>
                <a class="btn rounded-btn" [routerLink]="['/forgot_password']">{{ 'Forgot Password' | translate }}</a>
            </form>
        </div>
    </div>
</div>
