<div [@routerTransition]>
  <app-page-header [heading]="'Change Password'" [icon]="'fa-edit'"></app-page-header>
  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" class="col-sm-6">
    <div class="form-group">
      <input type="password" autocomplete="false" class="form-control input-underline input-lg"
        formControlName="password" placeholder="Password"
        [ngClass]="{ 'is-invalid': submitted && (updateForm.get('password').value.length === 0 || updateForm.get('password').value.length < 6)}">
      <div *ngIf="submitted && (updateForm.get('password').value.length === 0)" class="invalid-feedback-show">
        {{ 'Password is required' | translate }}</div>
      <div
        *ngIf="submitted && (updateForm.get('password').value.length !== 0 && updateForm.get('password').value.length < 6)"
        class="invalid-feedback-show">
        Password must be 6 Characters
      </div>
    </div>
    <div class="form-group">
      <input type="password" class="form-control input-underline input-lg" formControlName="confirm_password"
        placeholder="Confirm Password"
        [ngClass]="{ 'is-invalid': (submitted && (updateForm.get('confirm_password').value.length === 0 || updateForm.get('password').value !== updateForm.get('confirm_password').value)) }">
      <div
        *ngIf="submitted && updateForm.get('confirm_password').value.length >= 6 && (updateForm.get('password').value !== updateForm.get('confirm_password').value)"
        class="invalid-feedback-show">
        Password and Confirm Password should match.
      </div>
      <div *ngIf="submitted && (updateForm.get('confirm_password').value.length === 0)"
        class="invalid-feedback-show">
        {{ 'Confirm password is required' | translate }}
      </div>
      <div
        *ngIf="submitted && (updateForm.get('confirm_password').value.length !== 0 && updateForm.get('confirm_password').value.length < 6)"
        class="invalid-feedback-show">
        Confirm Password must be 6 Characters
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>