<div [@routerTransition]>
    <app-page-header [heading]="'Change Password'" [icon]="'fa-edit'"></app-page-header>
    <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label class="control-label col-sm-2" for="email">Password</label>
          <div class="col-sm-6">
            <input type="password" class="form-control input-underline input-lg" formControlName="password" [ngClass]="{ 'is-invalid': updateFormSubmitted && f.password.errors }">
            <div *ngIf="updateFormSubmitted && !!f.password?.errors" class="invalid-feedback">
              <div *ngIf="!!f.password?.errors.required">Password is required</div>
            </div>
          </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Confirm Password</label>
            <div class="col-sm-6">
              <input type="password" class="form-control input-underline input-lg" formControlName="confirm_password" [ngClass]="{ 'is-invalid': updateFormSubmitted && f.confirm_password.errors }">
              <div *ngIf="updateFormSubmitted && !!f.confirm_password?.errors" class="invalid-feedback">
                <div *ngIf="!!f.confirm_password?.errors.required">Confirm Password is required</div>
              </div>
            </div>
          </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
    </form>
</div>