<div [@routerTransition]>
        <app-page-header [heading]="'Export Time Sheet'" [icon]="'fa-edit'"></app-page-header>
        <div class="row">
                <div class="col-sm-6">
                        <div class="form-group">
                                <strong>Choose Date:
                                </strong>
                                <ngb-datepicker (navigate)="dateNavigate($event)" 
[showWeekdays]="false" class="datepicker-only-month-select"></ngb-datepicker>
                                <div *ngIf="submitted && startMonth.length === 0 && startYear.length === 0" class="invalid-feedback-show">
                                        Required
                                </div>
                        </div>
                </div>
        </div>
        <div class="row">
                &nbsp;&nbsp;&nbsp;&nbsp;<button type="button" (click)="onSubmit()" class="btn btn-primary">Submit</button>
        </div>
</div>