<div [@routerTransition]>
        <app-page-header [heading]="'Export Time Sheet'" [icon]="'fa-edit'"></app-page-header>
        <form class="form-horizontal" action="/action_page.php">
                <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Date:</label>
                        <div class="col-sm-4">
                                <input type="date" class="form-control" placeholder="Enter email">
                        </div>
                </div>
                <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-4">
                                <button type="submit" class="btn btn-primary pull-right">Submit</button>
                        </div>
                </div>
        </form>
</div>