/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/bootstrap';
@import 'spinner';
@import 'utils';
@import 'rtl';
@import 'responsive';

@media print {
    .breadcrumb {
        display: none !important;
    }
}
input[type='number'] {
    -moz-appearance: textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.margin-top-23 {
    margin-top: 23px;
}

.invalid-feedback-show {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
    text-align: center;
}
.table100 {
    width: 100%;
    overflow: auto;
}

.datepicker-only-month-select {
    border: 0 !important;
    width: 13rem;
    .ngb-dp-months {
      display: none !important;
    }
  }